@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-tablet: 40rem;
  --breakpoint-desktop: 64rem;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @variant desktop {
    max-width: 46rem;
    padding-inline: 2rem;
  }
}

a {
  @apply cursor-pointer border-b border-b-amber-400 hover:bg-amber-300 transition duration-75;
}
