@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-tablet: 40rem;
  --breakpoint-desktop: 64rem;

  --font-*: initial;
  --font-sans: var(--font-figtree), sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @variant desktop {
    max-width: 44rem;
    padding-inline: 2rem;
  }
}

a {
  @apply cursor-pointer border-b border-b-amber-400 hover:bg-amber-300 transition duration-75;
}

html,
body {
  @apply m-0 w-full h-full;
}

body {
  @apply m-0 w-full h-full dark:bg-[#131313] dark:text-white flex flex-col font-sans;
}
