---
import Layout from "../layouts/Layout.astro";
import {
  IconBrandBluesky,
  IconBrandGithub,
  IconBrandLinkedin,
} from "@tabler/icons-react";
import ScrambledText from "../components/ScrambledText";
---

<Layout>
  <div
    class="absolute top-0 left-0 h-screen w-screen overflow-hidden select-auto pointer-events-none"
  >
    <div
      class="absolute top-0 right-0 h-screen w-screen rounded-full blur-3xl lg:block bg-gradient-to-b from-accent/40 dark:from-accent/20 to-accent/0"
      style="transform: translateY(-50%) translateX(50%);"
    >
    </div>
  </div>
  <div class="container mx-auto pt-12 desktop:pt-24 relative">
    <h1 class="text-lg font-medium">
      <ScrambledText client:load text="Ben Bachem" />
    </h1>
    <p class="mt-4 text-justify">
      I consider myself as a digital generalist, with a primary focus on
      programming in my day-to-day endeavors. Beyond coding, I like approaching
      digital products as a whole, delving into all connected topics such as
      design and product.<br /><br /> In my current role as a Founding Engineer at
      <a class="link external" href="https://superchat.com" target="_blank"
        >Superchat</a
      > I'm leading a small team working on our web products and trying to grow Superchat
      into the ultimate communication tool for small & medium-sized businesses.<br
      /><br /> Prior to this, I earned a bachelor's degree in software engineering
      from
      <a class="link external" href="https://code.berlin" target="_blank"
        >CODE University</a
      > where I graduated in 2022.
    </p>

    <h2 class="mt-12 text-lg font-medium">Connect</h2>

    <p class="mt-4">
      Message me at <a
        class="link"
        href="https://bsky.app/profile/bezbac.me"
        target="_blank">@bezbac</a
      > or <a class="link" href="mailto:hello@benbachem.de" target="_blank"
        >hello@benbachem.de</a
      >. Or connect with me on social media:
    </p>

    <ul class="mt-2 flex -ml-1 gap-0.5">
      <li>
        <a
          href="https://github.com/bezbac"
          target="_blank"
          class="p-1 flex items-center justify-center hover:bg-neutral-910 dark:hover:bg-neutral-310 rounded transition duration-75 text-neutral-380 hover:text-black dark:text-neutral-820 dark:hover:text-white"
          aria-label="GitHub"><IconBrandGithub className="size-5" /></a
        >
      </li>
      <li>
        <a
          href="https://bsky.app/profile/bezbac.me"
          target="_blank"
          class="p-1 flex items-center justify-center hover:bg-neutral-910 dark:hover:bg-neutral-310 rounded transition duration-75 text-neutral-380 hover:text-black dark:text-neutral-820 dark:hover:text-white"
          aria-label="BlueSky"><IconBrandBluesky className="size-5" /></a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/ben-bachem"
          target="_blank"
          class="p-1 flex items-center justify-center hover:bg-neutral-910 dark:hover:bg-neutral-310 rounded transition duration-75 text-neutral-380 hover:text-black dark:text-neutral-820 dark:hover:text-white"
          aria-label="LinkedIn"><IconBrandLinkedin className="size-5" /></a
        >
      </li>
    </ul>
  </div>
</Layout>
