---
import Layout from "../layouts/Layout.astro";
import {
  IconBrandBluesky,
  IconBrandGithub,
  IconBrandLinkedin,
} from "@tabler/icons-react";
---

<Layout>
  <div
    class="absolute top-0 left-0 h-screen w-screen overflow-hidden select-auto pointer-events-none"
  >
    <div
      class="absolute top-0 right-0 h-screen w-screen rounded-full blur-3xl lg:block bg-gradient-to-b from-accent/40 dark:from-accent/20 to-accent/0"
      style="transform: translateY(-50%) translateX(50%);"
    >
    </div>
  </div>
  <div class="container relative">
    <p class="text-justify">
      For the past five years, I've been building
      <a class="link external" href="https://superchat.com" target="_blank"
        >Superchat</a
      >, where I started as an early employee and have been leading our web
      development efforts. These days, I spend most of my time writing code with
      a small team I'm managing, while also thinking about product strategy.<br
      /><br />Prior to this, I completed a bachelor's degree in software
      engineering from
      <a class="link external" href="https://code.berlin" target="_blank"
        >CODE University</a
      >, where I graduated in 2022.<br /><br /> I consider myself a digital generalist,
      with a primary focus on programming. I like approaching digital products as
      a whole, delving into all connected topics from programming to product management,
      economics, and design.
    </p>

    <p class="mt-4">
      You can message me at <a
        class="link"
        href="https://bsky.app/profile/bezbac.me"
        target="_blank">@bezbac</a
      > or <a class="link" href="mailto:hello@benbachem.de" target="_blank"
        >hello@benbachem.de</a
      >.
    </p>
  </div>
</Layout>
