---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container mx-auto pt-12 desktop:pt-24">
    <h1 class="text-lg font-medium">Ben Bachem</h1>
    <p class="mt-4 text-justify">
      I consider myself as a digital generalist, with a primary focus on
      programming in my day-to-day endeavors. Beyond coding, I like approaching
      digital products as a whole, delving into all connected topics such as
      design and product.<br /><br /> In my current role as a Founding Engineer at
      <a class="external" href="https://superchat.com" target="_blank"
        >Superchat</a
      > I'm leading a small team working on our web products and trying to grow Superchat
      into the ultimate communication tool for small & medium-sized businesses.<br
      /><br /> Prior to this, I earned a bachelor's degree in software engineering
      from
      <a class="external" href="https://code.berlin" target="_blank"
        >CODE University</a
      > where I graduated in 2022.
    </p>

    <h2 class="mt-12 text-lg font-medium">Connect</h2>

    <p class="mt-4">
      Reach me at <a href="https://bsky.app/profile/bezbac.me" target="_blank"
        >@bezbac</a
      > or <a href="mailto:hello@benbachem.de" target="_blank"
        >hello@benbachem.de</a
      >
    </p>

    <h2 class="mt-12 text-lg font-medium">Links</h2>

    <ul class="mt-4 flex gap-x-2">
      <li>
        <a href="https://github.com/bezbac" target="_blank">GitHub</a>
      </li>
      <li>
        <a href="https://bsky.app/profile/bezbac.me" target="_blank">BlueSky</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/ben-bachem" target="_blank"
          >LinkedIn</a
        >
      </li>
    </ul>
  </div>
</Layout>
