---
import Layout from "../layouts/Layout.astro";
import {
  IconBrandBluesky,
  IconBrandGithub,
  IconBrandLinkedin,
} from "@tabler/icons-react";
---

<Layout>
  <div
    class="absolute top-0 left-0 h-screen w-screen overflow-hidden select-auto pointer-events-none"
  >
    <div
      class="absolute top-0 right-0 h-screen w-screen rounded-full blur-3xl lg:block bg-gradient-to-b from-accent/40 dark:from-accent/20 to-accent/0"
      style="transform: translateY(-50%) translateX(50%);"
    >
    </div>
  </div>
  <div class="container px-container relative">
    <p class="text-justify">
      Hi, I'm Ben. I like building things on the web. At the moment, I'm working
      as a Product Engineer on the
      <a class="link external" href="https://langfuse.com" target="_blank"
        >Langfuse</a
      > team at <a
        class="link external"
        href="https://clickhouse.com"
        target="_blank">ClickHouse</a
      >.<br /><br />
      Before that, I spent five years helping to build and scale
      <a class="link external" href="https://superchat.com" target="_blank"
        >Superchat</a
      >, where I started as an early employee and led our web development
      efforts, spending most of my time writing code with a small team I was
      managing, while also thinking about product strategy.<br /><br />I studied
      at <a class="link external" href="https://code.berlin" target="_blank"
        >CODE University</a
      > in Berlin, completing my bachelor's degree in software engineering in 2022.<br
      /><br /> I care about digital products as a whole; how they're designed, built,
      and used, and the business behind it all.
    </p>

    <p class="mt-4">
      You can message me at <a
        class="link"
        href="https://bsky.app/profile/bezbac.me"
        target="_blank">@bezbac</a
      > or <a class="link" href="mailto:hello@benbachem.de" target="_blank"
        >hello@benbachem.de</a
      >.
    </p>
  </div>
</Layout>
