---
import "../styles/global.css";
import ThemeButton from "../components/ThemeButton";
import { Font } from "astro:assets";
import { IconMoon, IconSun } from "@tabler/icons-react";

const currentPath = Astro.url.pathname;
---

<style>
  .subtitle {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    animation-delay: 1.5s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Ben Bachem</title>
    <meta
      name="description"
      content="Hey there! I'm Ben. I build all kinds of digital things."
    />
    <meta
      property="og:description"
      content="Hey there! I'm Ben. I build all kinds of digital things."
    />
    <meta content="Ben Bachem" property="og:title" />
    <meta content="summary" name="twitter:card" />
    <meta content="Ben Bachem" name="twitter:title" />
    <meta
      content="Hey there! I'm Ben. I build all kinds of digital things."
      name="twitter:description"
    />
    {
      Astro.props.ogImageUrl && (
        <>
          <meta property="og:image" content={Astro.props.ogImageUrl} />
          <meta property="og:image:width" content="1200" />
          <meta property="og:image:height" content="630" />
        </>
      )
    }
    <script is:inline>
      const theme = localStorage.getItem("theme");

      if (
        theme === "dark" ||
        (!theme && window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      }
    </script>
    <Font cssVariable="--font-figtree" preload />
  </head>
  <body>
    <div
      class:list={[
        "container flex items-center",
        currentPath === "/" ? "pt-8 tablet:pt-12 desktop:pt-24" : "pt-8",
      ]}
    >
      <div class="font-medium">
        <a href="/"> Ben Bachem </a>
      </div>

      <ul class="flex ml-auto gap-4 group">
        <li>
          <a
            href="/"
            aria-selected={currentPath === "/"}
            class="text-prose-muted aria-selected:text-prose-normal group-hover:aria-selected:text-prose-muted hover:text-prose-normal! transition"
            >/<span class="inline-block w-0.5"></span>home</a
          >
        </li>
        <li>
          <a
            href="/blog"
            aria-selected={currentPath.startsWith("/blog")}
            class="text-prose-muted aria-selected:text-prose-normal group-hover:aria-selected:text-prose-muted hover:text-prose-normal! transition"
            >/<span class="inline-block w-0.5"></span>writing</a
          >
        </li>
        <li>
          <a
            href="/uses"
            aria-selected={currentPath.startsWith("/uses")}
            class="text-prose-muted aria-selected:text-prose-normal group-hover:aria-selected:text-prose-muted hover:text-prose-normal! transition"
            >/<span class="inline-block w-0.5"></span>uses</a
          >
        </li>
      </ul>
    </div>
    <slot />
    <div
      class="w-full mt-auto flex items-center border-t dark:border-neutral-230 border-neutral-910"
    >
      <div class="container flex py-4 gap-2 text-sm text-prose-muted">
        <div>Copyright © Ben Bachem</div>
        <div class="ml-auto flex gap-2">
          <ThemeButton
            client:load
            mode="dark"
            className="cursor-pointer hover:text-prose-strong aria-selected:text-accent"
            aria-label="Enable dark mode"
            ><IconMoon className="size-4.5" /></ThemeButton
          >
          <ThemeButton
            client:load
            mode="light"
            className="cursor-pointer hover:text-prose-strong aria-selected:text-accent"
            aria-label="Enable light mode"
            ><IconSun className="size-4.5" /></ThemeButton
          >
        </div>
      </div>
    </div>
  </body>
</html>
