---
import "./src/styles/global.css";
import ThemeButton from "../components/ThemeButton";
import { Font } from "astro:assets";
import { IconMoon, IconSun } from "@tabler/icons-react";
import ScrambledText from "../components/ScrambledText";

const currentPath = Astro.url.pathname;
---

<style>
  .subtitle {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    animation-delay: 1.5s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Ben Bachem</title>
    <script is:inline>
      const theme = localStorage.getItem("theme");

      if (
        theme === "dark" ||
        (!theme && window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      }
    </script>
    <Font cssVariable="--font-figtree" preload />
  </head>
  <body>
    <div
      class:list={[
        "container",
        currentPath === "/" ? "pt-12 desktop:pt-24" : "pt-8",
      ]}
    >
      <div class="font-medium">
        <a href="/">
          <ScrambledText client:load text="Ben Bachem" />
        </a>
        {
          currentPath !== "/" && (
            <a
              href={Astro.props.breadcrumb.href}
              class="subtitle text-neutral-380 hover:text-accent ml-1"
            >
              / {Astro.props.breadcrumb.title}
            </a>
          )
        }
      </div>
    </div>
    <slot />
    <div
      class="w-full mt-auto flex items-center border-t dark:border-neutral-230 border-neutral-910"
    >
      <div
        class="container flex py-4 gap-2 text-sm dark:text-neutral-380 text-neutral-640"
      >
        <div>Copyright © Ben Bachem</div>
        <div class="ml-auto flex gap-2">
          <ThemeButton
            client:load
            mode="dark"
            className="cursor-pointer dark:hover:text-neutral-820 hover:text-black aria-selected:text-accent"
            aria-label="Enable dark mode"
            ><IconMoon className="size-4.5" /></ThemeButton
          >
          <ThemeButton
            client:load
            mode="light"
            className="cursor-pointer dark:hover:text-neutral-820 hover:text-black aria-selected:text-accent"
            aria-label="Enable light mode"
            ><IconSun className="size-4.5" /></ThemeButton
          >
        </div>
      </div>
    </div>
  </body>
</html>
