---
import "./src/styles/global.css";
import ThemeButton from "../components/ThemeButton";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Ben Bachem</title>
    <script is:inline>
      const theme = localStorage.getItem("theme");

      if (
        theme === "dark" ||
        (!theme && window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      }
    </script>
  </head>
  <body>
    <slot />
    <div class="w-full mt-auto flex items-center border-t border-white/10">
      <div class="container flex py-4 gap-2 text-sm">
        <div class="opacity-20">Copyright © Ben Bachem</div>
        <div class="ml-auto flex gap-2">
          <ThemeButton
            client:load
            mode="dark"
            className="cursor-pointer opacity-10 hover:opacity-100"
            >Dark</ThemeButton
          >
          <ThemeButton
            client:load
            mode="light"
            className="cursor-pointer opacity-10 hover:opacity-100"
            >Light</ThemeButton
          >
        </div>
      </div>
    </div>
  </body>
</html>
